<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/access-control.css') }}" />
    <title>WI - Access Control</title>
  </head>
  <body>
    <!-- Sidebar -->
    <aside id="sidebar" class="collapsed">
      <!-- Top bar -->
      <div class="top-bar">
        <i id="toggleSidebar" class="fi fi-sr-menu-burger"></i>
        <i id="closeSidebar" class="fi fi-sr-bars-staggered close-icon"></i>
      </div>

      <!-- Middle menu -->
      <nav id="menu" class="menu middle-menu">
        <a href="./dashboard.html" class="menu-item">
          <i class="fi fi-sr-dashboard-panel active"></i>

          <label class="label">Dashboard</label>
        </a>
      </nav>

      <!-- Bottom settings -->
      <nav class="menu bottom-settings">
        <a href="#" class="menu-item">
          <div class="container">
            <i class="fi fi-sr-settings setings-icon"></i>

            <div class="info">
              <p class="p">Settings</p>

              <small id="user-role">ADM</small>
            </div>
          </div>

          <i class="fi fi-sr-arrow-right-to-bracket"></i>
        </a>
      </nav>
    </aside>

    <main>
      <!-- Header -->
      <header>
        <h1>Access Control</h1>

        <button class="logout" onclick="logout()">
          <i class="fi fi-sr-user-logout"></i>
        </button>
      </header>

      <div class="container">
        <!-- Actions -->
        <div class="actions-container">
          <!-- Search -->
          <div class="search-bar">
            <input
              type="text"
              id="search-input"
              placeholder="Search users..."
            />
            <i class="fi fi-sr-search"></i>
            <button id="search-btn" onclick="searchUser()">Search User</button>
          </div>

          <!-- Buttons -->
          <div class="buttons-group">
            <!-- Add Button -->
            <button
              id="add-btn"
              class="action-btn add-btn"
              onclick="openModal('addModal')"
            >
              <i class="fi fi-sr-plus"></i> Add
            </button>
          </div>
        </div>

        <!-- Table -->
        <div class="table-container">
          <!-- Table -->
          <table class="users-table">
            <!-- Table Header -->
            <thead>
              <tr>
                <th class="user-id">ID</th>
                <th class="user-email">Email</th>
                <th class="password">Password</th>
                <th class="user-name">Username</th>
                <th class="user-role">Role</th>
                <th class="user-status">Status</th>
                <th class="user-salary">Salary</th>
                <th class="user-actions">Actions</th>
              </tr>
            </thead>

            <!-- Table Body -->
            <tbody id="users-table-body">
              <tr>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
                <td class="loading-table"><i class="fi fi-rr-loading"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modals -->
      <!-- Add Modal -->
      <div id="addModal" class="add-modal" style="display: none">
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Add User</h2>

          <button class="close-modal" onclick="closeModal('addModal')">
            <i class="fi fi-sr-cross"></i>
          </button>
        </div>

        <!-- Modal Content -->
        <div class="modal-content">
          <!-- Form -->
          <form id="add-form">
            <!-- Email -->
            <div class="form-group">
              <input type="email" id="add-email" placeholder=" " required />

              <label for="add-email">Email</label>
            </div>

            <!-- Password -->
            <div class="form-group">
              <input
                type="password"
                id="add-password"
                placeholder=" "
                required
              />

              <label for="add-password">Password</label>
            </div>

            <!-- Username -->
            <div class="form-group">
              <input type="text" id="add-username" placeholder=" " required />

              <label for="add-username">Username</label>
            </div>

            <!-- Role -->
            <div class="form-group">
              <select id="add-role" required>
                <option value="" selected disabled>Select a role</option>
                <option value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="employee">Employee</option>
              </select>
            </div>

            <!-- Status -->
            <div class="form-group">
              <select id="add-status" required>
                <option value="" selected disabled>Select a status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>

            <!-- Salary -->
            <div class="form-group">
              <input type="number" id="add-salary" placeholder=" " required />

              <label for="add-salary">Salary</label>
            </div>
          </form>

          <button class="btn" onclick="addUser()">Add User</button>
        </div>
      </div>

      <!-- Edit Modal -->
      <div id="editModal" class="edit-modal">
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 class="modal-title">Edit User</h2>

          <button class="close-modal" onclick="closeModal('editModal')">
            <i class="fi fi-sr-cross"></i>
          </button>
        </div>

        <!-- Modal Content -->
        <div class="modal-content">
          <!-- Form -->
          <form id="edit-form">
            <!-- Email -->
            <div class="form-group">
              <input type="email" id="edit-email" placeholder=" " required />

              <label for="edit-email">Email:</label>
            </div>

            <!-- Password -->
            <div class="form-group">
              <input
                type="password"
                id="edit-password"
                placeholder=" "
                required
              />

              <label for="edit-password">Password:</label>
            </div>

            <!-- Username -->
            <div class="form-group">
              <input type="text" id="edit-username" placeholder=" " required />

              <label for="edit-username">Username:</label>
            </div>

            <!-- Role -->
            <div class="form-group">
              <select id="edit-role" required>
                <option value="" selected disabled>Select a role</option>
                <option value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="employee">Employee</option>
              </select>
            </div>

            <!-- Status -->
            <div class="form-group">
              <select id="edit-status" required>
                <option value="" selected disabled>Select a status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>

            <!-- Salary -->
            <div class="form-group">
              <input type="number" id="edit-salary" placeholder=" " required />

              <label for="edit-salary">Salary:</label>
            </div>
          </form>

          <button class="btn" onclick="editUser()">Save changes</button>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/access-control.js') }}"></script>
  </body>
</html>
