<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
    <title>WI - Login</title>
</head>
<body>
    <form>
        <h1 id="title">Wayne Industries</h1>
        <h2>Login</h2>

        <div class="form-container">

            <div id="email-container" class="container">
                <input type="text" placeholder=" " id="email">
                <i class="fi fi-br-user"></i>
                <label for="email" class="label">email</label>
            </div>
            
            <div id="password-container" class="container">
                <input type="password" placeholder=" " id="password">
                <i class="fi fi-br-lock"></i>
                <label for="password" class="label">Password</label>
            </div>
            <button type="submit">Entrar</button>
            <span id="error">Usuario ou senha incorreto!</span>
        </div>
    </form>
</body>
</html>